/*
*2017.4.21 baolei
 */
body, div,fieldset,legend, span, header, footer, nav, section, aside, article, ul,li, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b,  figure, figcaption,p {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    border: 0;
    box-sizing: border-box;
    font-family: "Microsoft Yahei",sans-serif;
    -webkit-tap-highlight-color:transparent;
    // -webkit-font-smoothing: antialiased;
    &:focus {
        outline: none;
    }
}
textarea, button, input, select{
    &:focus {
        outline: none;
    }
}
body,html{
    height: 100%;width: 100%;
}
/*
 * 百分比布局
 */
.view{
    width:100%;height:100%;margin:0 auto;
}
html{
    font-size: 100px;
}
body{
    font-size: 12px;
}
